body{
	background-color: white;
}
pre{
	background-color: powderblue  ;
}
.article{
	width: 60%;
	display: none;
}
.rules{
	
	width: 40%;
}
.footer{
	float:left;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
hr{
	height: 2px;
	background-color: black;
	color: black;
	border: none;
}
.main {
	display:none;
}
h2{
	text-align: center;
}
