body{
	background-color: lightgray;
}
pre{
	background-color: powderblue  ;
}
.article{
	float: left;
	width: 60%;
}
.rules{
	float: right;
	width: 40%;
}
.footer{
	float:left;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
hr{
	height: 2px;
	background-color: black;
	color: black;
	border: none;
}
